apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-config
  namespace: {{ $.Release.Namespace }}
data:
  otel-config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      prometheus:
        config:
          scrape_configs:
            - job_name: 'elchi-registry'
              scrape_interval: 10s
              scrape_timeout: 2s
              metrics_path: '/metrics'
              static_configs:
                - targets:
                    - 'elchi-registry.{{ $.Release.Namespace }}.svc.{{ $.Values.global.clusterDomain }}:9091'
                  labels:
                    app: elchi-registry

    exporters:
      debug:
        verbosity: detailed
      prometheusremotewrite:
        {{- if $.Values.global.installVictoriaMetrics }}
        endpoint: "http://victoriametrics.{{ $.Release.Namespace }}.svc.{{ .Values.global.clusterDomain }}:8428/api/v1/write"
        {{- else }}
        {{- if not $.Values.global.victoriametrics.endpoint }}
        {{- fail "When installVictoriaMetrics is false, global.victoriametrics.endpoint must be provided" }}
        {{- end }}
        {{- if contains "://" $.Values.global.victoriametrics.endpoint }}
        endpoint: "{{ $.Values.global.victoriametrics.endpoint }}/api/v1/write"
        {{- else }}
        endpoint: "http://{{ $.Values.global.victoriametrics.endpoint }}/api/v1/write"
        {{- end }}
        {{- end }}
        tls:
          insecure: true
        resource_to_telemetry_conversion:
          enabled: true

    processors:
      batch:
        timeout: 200ms
        send_batch_size: 256
        send_batch_max_size: 512
      memory_limiter:
        check_interval: 5s
        limit_mib: 512
        spike_limit_mib: 128
      resource:
        attributes:
          - key: telemetry.sdk.language
            action: delete
          - key: telemetry.sdk.name
            action: delete
          - key: telemetry.sdk.version
            action: delete

    extensions:
      health_check:
        endpoint: 0.0.0.0:13133

    service:
      extensions: [health_check]
      telemetry:
        logs:
          level: "debug"
      pipelines:
        metrics:
          receivers: [otlp, prometheus]
          processors: [memory_limiter, resource, batch]
          exporters: [prometheusremotewrite] 