{{- $controllerVersion := regexReplaceAll "-arm64$" (index .Values.global.versions 0).tag "" }}
# Elchi Registry Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: elchi-registry
  namespace: {{ .Release.Namespace }}
  labels:
    app: elchi-registry
    version: {{ $controllerVersion }}
    type: grpc
    {{- include "elchi-backend.registry.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: elchi-registry
      version: {{ $controllerVersion }}
      type: grpc
  template:
    metadata:
      labels:
        app: elchi-registry
        version: {{ $controllerVersion }}
        type: grpc
        {{- include "elchi-backend.registry.labels" . | nindent 8 }}
    spec:
      {{- if .Values.global.installMongo }}
      initContainers:
        - name: wait-for-mongodb
          image: busybox:1.28
          command: ['sh', '-c', 'until nc -z mongodb-service.{{ .Release.Namespace }} 27017; do echo waiting for mongodb; sleep 2; done;']
      {{- end }}
      containers:
        - name: elchi-registry
          image: "{{ .Values.image.repository }}:{{ (index .Values.global.versions 0).tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          args: ["elchi-registry"]
          resources:
            {{- toYaml .Values.resources.registry | nindent 12 }}
          ports:
            - name: grpc
              containerPort: {{ .Values.service.registry.port }}
              protocol: TCP
            - name: metrics
              containerPort: {{ .Values.service.registry.metricsPort }}
              protocol: TCP
          volumeMounts:
            - name: config-volume
              mountPath: /root/.configs
          env:
            - name: TZ
              value: {{ $.Values.global.timezone | default "UTC" | quote }}
          envFrom:
            - configMapRef:
                name: {{ .Values.configMap.name }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.service.registry.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: {{ .Values.service.registry.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Values.configMap.name }}
