replicaCount: 1
image:
  repository: mongo
  tag: 6.0.12
  pullPolicy: IfNotPresent

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "2Gi"
    cpu: "1000m"

persistence:
  enabled: true
  size: 5Gi

service:
  type: ClusterIP
  port: 27017
