replicaCount: 1
image:
  repository: mongo
  tag: 6.0.12
  pullPolicy: IfNotPresent

resources:
  requests:
    memory: "128Mi"
    cpu: "50m"
  limits:
    memory: "512Mi"
    cpu: "500m"

persistence:
  enabled: true
  size: 5Gi

service:
  type: ClusterIP
  port: 27017
