image:
  repository: victoriametrics/victoria-metrics
  tag: v1.93.5
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8428

resources:
  requests:
    memory: "128Mi"
    cpu: "50m"
  limits:
    memory: "2Gi"
    cpu: "1000m"

persistence:
  enabled: true
  size: "5Gi"

retentionPeriod: "15d"
