image:
  repository: victoriametrics/victoria-metrics
  tag: v1.93.5
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8428

resources:
  requests:
    memory: "64Mi"
    cpu: "25m"
  limits:
    memory: "256Mi"
    cpu: "200m"

persistence:
  enabled: true
  size: "5Gi"

retentionPeriod: "15d"
