image:
  repository: victoriametrics/victoria-metrics
  tag: v1.93.5
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8428

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "200m"

persistence:
  enabled: true
  size: "5Gi"
  storageClass: local-path

retentionPeriod: "30d"