image:
  repository: otel/opentelemetry-collector-contrib
  tag: 0.89.0
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  grpcPort: 4317
  httpPort: 4318

resources:
  requests:
    memory: "64Mi"
    cpu: "25m"
  limits:
    memory: "512Mi"
    cpu: "500m"

