image:
  repository: otel/opentelemetry-collector-contrib
  tag: 0.89.0
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  grpcPort: 4317
  httpPort: 4318

resources:
  requests:
    memory: "32Mi"
    cpu: "10m"
  limits:
    memory: "128Mi"
    cpu: "100m"

