image:
  repository: jhonbrownn/elchi
  tag: v1.0.0
  pullPolicy: Always

replicas: 3

resources:
  requests:
    memory: "32Mi"
    cpu: "10m"
  limits:
    memory: "256Mi"
    cpu: "200m"

service:
  type: ClusterIP
  port: 80
