image:
  repository: jhonbrownn/elchi
  tag: v0.1.0
  pullPolicy: Always

replicas: 3

resources:
  requests:
    memory: "32Mi"
    cpu: "10m"
  limits:
    memory: "128Mi"
    cpu: "100m"

service:
  type: ClusterIP
  port: 80
